## Importing the libraries

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings('ignore')

## Importing the Datasets

Links : https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_13_kernel_svm/iphone_purchase_records.csv

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_13_kernel_svm/iphone_purchase_records.csv')

In [4]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [5]:
df.shape

(400, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   Salary           400 non-null    int64
 3   Purchase Iphone  400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [7]:
df.describe()

              Age         Salary  Purchase Iphone
count  400.000000     400.000000       400.000000
mean    37.655000   69742.500000         0.357500
std     10.482877   34096.960282         0.479864
min     18.000000   15000.000000         0.000000
25%     29.750000   43000.000000         0.000000
50%     37.000000   70000.000000         0.000000
75%     46.000000   88000.000000         1.000000
max     60.000000  150000.000000         1.000000

In [11]:
df.Gender.value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [17]:
df.Gender.groupby(df['Purchase Iphone']).value_counts()

Purchase Iphone  Gender
0                Male      130
                 Female    127
1                Female     77
                 Male       66
Name: Gender, dtype: int64

In [22]:
df.rename({"Purchase Iphone":'Purchase_Iphone'}, axis=1, inplace = True)

## Spliting of data

In [24]:
df.head(3)

   Gender  Age  Salary  Purchase_Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0

In [25]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [26]:
X

     Gender  Age  Salary
0      Male   19   19000
1      Male   35   20000
2    Female   26   43000
3    Female   27   57000
4      Male   19   76000
..      ...  ...     ...
395  Female   46   41000
396    Male   51   23000
397  Female   50   20000
398    Male   36   33000
399  Female   49   36000

[400 rows x 3 columns]

In [27]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchase_Iphone, Length: 400, dtype: int64

## Label Encoding

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
enc = LabelEncoder()
X.Gender =enc.fit_transform(X.Gender)

In [30]:
X

     Gender  Age  Salary
0         1   19   19000
1         1   35   20000
2         0   26   43000
3         0   27   57000
4         1   19   76000
..      ...  ...     ...
395       0   46   41000
396       1   51   23000
397       0   50   20000
398       1   36   33000
399       0   49   36000

[400 rows x 3 columns]

In [31]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  400 non-null    int32
 1   Age     400 non-null    int64
 2   Salary  400 non-null    int64
dtypes: int32(1), int64(2)
memory usage: 7.9 KB

## Spliting the data into sets

In [32]:
skf = StratifiedKFold(n_splits=5)

In [33]:
for train_index, test_index in skf.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

## Feature scaling

In [37]:
scale =  StandardScaler()

In [52]:
X_train= scale.fit_transform(X_train)
X_test = scale.fit_transform(X_test)

In [55]:
X_train

array([[ 1.02532046, -1.61062735, -1.48261454],
       [ 1.02532046, -0.10854866, -1.45444971],
       [-0.97530483, -0.95346792, -0.80665849],
       [-0.97530483, -0.859588  , -0.41235079],
       [ 1.02532046, -1.61062735,  0.12278108],
       [ 1.02532046, -0.859588  , -0.38418596],
       [-0.97530483, -0.859588  ,  0.34809976],
       [-0.97530483, -0.39018841,  2.20697891],
       [ 1.02532046, -1.04734784, -1.08830685],
       [-0.97530483, -0.10854866, -0.18703211],
       [-0.97530483, -0.95346792,  0.23544042],
       [-0.97530483, -0.95346792, -0.55317497],
       [ 1.02532046, -1.51674743,  0.40442943],
       [ 1.02532046, -0.39018841, -1.51077938],
       [ 1.02532046, -1.70450727,  0.29177009],
       [ 1.02532046, -0.67182817,  0.23544042],
       [ 1.02532046,  1.01801037, -1.31362553],
       [ 1.02532046,  0.83025053, -1.28546069],
       [ 1.02532046,  0.92413045, -1.22913102],
       [-0.97530483,  1.11189029, -1.20096619],
       [ 1.02532046,  0.83025053, -1.39812004],
       [-0.97530483,  1.01801037, -0.63766948],
       [ 1.02532046,  1.11189029, -0.86298816],
       [-0.97530483,  0.83025053, -1.39812004],
       [ 1.02532046,  0.92413045, -1.3699552 ],
       [ 1.02532046,  1.01801037, -1.45444971],
       [ 1.02532046,  1.2057702 , -1.22913102],
       [-0.97530483,  1.01801037, -1.17280135],
       [ 1.02532046, -0.67182817, -0.80665849],
       [ 1.02532046, -0.48406833, -1.51077938],
       [ 1.02532046, -0.48406833,  0.06645141],
       [-0.97530483, -0.859588  ,  1.84083604],
       [-0.97530483, -1.42286752, -1.56710905],
       [-0.97530483, -0.76570809, -0.77849366],
       [ 1.02532046, -0.859588  ,  0.51708878],
       [ 1.02532046, -0.10854866, -1.25729586],
       [-0.97530483, -0.29630849, -1.22913102],
       [ 1.02532046, -0.57794825, -0.63766948],
       [-0.97530483, -0.95346792,  0.01012174],
       [-0.97530483, -0.859588  , -1.14463652],
       [-0.97530483, -0.859588  , -1.53894421],
       [-0.97530483, -0.29630849, -0.58133981],
       [ 1.02532046, -0.10854866,  1.02405582],
       [ 1.02532046, -0.57794825, -1.59527389],
       [-0.97530483, -0.76570809,  0.34809976],
       [ 1.02532046, -1.23510768, -1.45444971],
       [ 1.02532046, -1.04734784,  0.20727559],
       [-0.97530483, -0.859588  , -0.4968453 ],
       [ 1.02532046, -0.57794825,  1.78450637],
       [-0.97530483, -0.48406833,  0.48892394],
       [-0.97530483, -1.14122776, -1.11647168],
       [-0.97530483, -1.70450727, -0.77849366],
       [-0.97530483, -0.67182817,  0.31993493],
       [-0.97530483, -0.10854866, -1.3699552 ],
       [-0.97530483, -0.859588  , -0.38418596],
       [-0.97530483, -1.14122776, -0.46868047],
       [-0.97530483, -1.23510768, -0.66583431],
       [ 1.02532046, -0.76570809,  0.20727559],
       [ 1.02532046, -1.3289876 , -1.51077938],
       [-0.97530483, -0.39018841,  1.27753933],
       [ 1.02532046, -0.859588  , -1.45444971],
       [ 1.02532046, -1.04734784,  0.43259427],
       [-0.97530483, -1.23510768, -0.15886728],
       [ 1.02532046, -0.39018841,  1.36203384],
       [-0.97530483,  2.14456939,  0.31993493],
       [ 1.02532046, -1.14122776, -0.38418596],
       [ 1.02532046, -1.14122776, -1.48261454],
       [-0.97530483, -1.23510768,  0.29177009],
       [-0.97530483, -1.3289876 , -0.24336178],
       [-0.97530483, -0.48406833, -0.1025376 ],
       [ 1.02532046, -1.04734784,  0.23544042],
       [-0.97530483, -1.14122776, -1.25729586],
       [-0.97530483, -1.51674743, -1.3699552 ],
       [-0.97530483, -0.29630849,  1.16487999],
       [ 1.02532046, -0.39018841, -1.51077938],
       [ 1.02532046, -0.20242857,  1.13671516],
       [ 1.02532046, -1.70450727, -0.55317497],
       [-0.97530483, -1.3289876 , -1.25729586],
       [-0.97530483, -0.76570809,  0.43259427],
       [-0.97530483, -0.95346792, -1.53894421],
       [ 1.02532046, -0.57794825,  0.23544042],
       [ 1.02532046,  0.26697102, -0.83482333],
       [ 1.02532046, -1.51674743, -0.63766948],
       [ 1.02532046, -0.10854866,  0.46075911],
       [-0.97530483, -0.57794825, -0.27152662],
       [-0.97530483, -0.48406833,  1.30570417],
       [ 1.02532046, -1.14122776, -0.46868047],
       [-0.97530483, -0.76570809,  0.3762646 ],
       [ 1.02532046, -0.95346792,  0.26360526],
       [ 1.02532046, -0.10854866, -0.60950464],
       [ 1.02532046, -1.3289876 ,  0.26360526],
       [-0.97530483, -0.57794825,  1.2493745 ],
       [ 1.02532046, -0.95346792, -1.59527389],
       [-0.97530483, -0.67182817, -1.22913102],
       [-0.97530483, -0.67182817,  0.31993493],
       [-0.97530483, -0.10854866, -0.77849366],
       [-0.97530483, -0.10854866, -1.31362553],
       [ 1.02532046, -0.76570809,  1.44652835],
       [ 1.02532046, -0.10854866,  0.03828657],
       [-0.97530483, -0.76570809, -0.9756475 ],
       [ 1.02532046, -0.859588  ,  0.46075911],
       [ 1.02532046, -0.76570809, -0.35602112],
       [-0.97530483, -0.39018841,  0.40442943],
       [-0.97530483, -0.29630849,  2.17881407],
       [-0.97530483, -1.61062735, -1.42628487],
       [ 1.02532046, -1.42286752,  0.01012174],
       [-0.97530483, -0.95346792, -1.03197718],
       [ 1.02532046, -0.859588  ,  0.48892394],
       [ 1.02532046, -0.95346792,  0.40442943],
       [-0.97530483,  0.1730911 ,  0.23544042],
       [-0.97530483,  0.26697102, -0.0180431 ],
       [-0.97530483,  0.07921118, -0.0180431 ],
       [ 1.02532046,  0.1730911 , -0.29969145],
       [ 1.02532046,  0.07921118, -0.46868047],
       [ 1.02532046,  0.54861077,  0.23544042],
       [ 1.02532046,  0.36085094, -0.41235079],
       [ 1.02532046, -0.10854866,  0.09461624],
       [ 1.02532046, -0.01466874, -0.55317497],
       [ 1.02532046,  0.36085094, -0.35602112],
       [ 1.02532046,  0.45473086, -0.35602112],
       [-0.97530483, -0.01466874,  0.09461624],
       [ 1.02532046,  0.07921118,  0.01012174],
       [-0.97530483,  0.36085094,  0.09461624],
       [ 1.02532046, -0.10854866, -0.52501014],
       [-0.97530483,  0.45473086, -0.58133981],
       [-0.97530483,  0.26697102, -0.29969145],
       [ 1.02532046,  0.54861077, -0.18703211],
       [ 1.02532046, -0.95346792, -1.11647168],
       [ 1.02532046, -0.57794825, -1.53894421],
       [-0.97530483, -0.95346792,  0.34809976],
       [ 1.02532046, -0.48406833, -0.38418596],
       [ 1.02532046, -0.29630849, -1.14463652],
       [ 1.02532046, -0.57794825,  0.43259427],
       [-0.97530483, -1.42286752, -0.1025376 ],
       [-0.97530483, -0.76570809, -0.46868047],
       [ 1.02532046, -1.23510768, -0.24336178],
       [-0.97530483, -1.51674743,  0.29177009],
       [ 1.02532046, -0.57794825,  0.99589098],
       [-0.97530483, -0.76570809, -0.35602112],
       [ 1.02532046, -1.61062735, -1.31362553],
       [ 1.02532046, -1.61062735,  0.3762646 ],
       [-0.97530483, -1.70450727, -0.1025376 ],
       [ 1.02532046, -0.10854866, -0.35602112],
       [ 1.02532046, -0.57794825,  0.48892394],
       [-0.97530483, -0.20242857, -1.31362553],
       [-0.97530483, -1.14122776,  0.48892394],
       [-0.97530483, -0.859588  ,  0.68607779],
       [-0.97530483,  0.45473086, -1.17280135],
       [ 1.02532046, -0.67182817, -0.29969145],
       [ 1.02532046, -1.51674743,  0.06645141],
       [-0.97530483, -0.95346792, -1.59527389],
       [ 1.02532046,  0.45473086, -0.75032882],
       [ 1.02532046, -0.48406833,  0.12278108],
       [-0.97530483, -0.01466874, -0.60950464],
       [ 1.02532046,  0.36085094, -0.69399915],
       [-0.97530483, -0.48406833, -1.59527389],
       [ 1.02532046,  0.92413045, -0.35602112],
       [ 1.02532046, -0.67182817,  0.09461624],
       [ 1.02532046, -0.95346792, -1.17280135],
       [-0.97530483, -0.39018841,  1.78450637],
       [ 1.02532046, -0.39018841,  0.79873713],
       [ 1.02532046, -1.04734784,  0.51708878],
       [-0.97530483,  0.07921118, -1.08830685],
       [ 1.02532046, -0.10854866, -0.94748267],
       [-0.97530483, -0.29630849, -0.07437277],
       [-0.97530483, -1.70450727,  0.40442943],
       [-0.97530483, -1.3289876 , -0.46868047],
       [-0.97530483, -0.10854866, -0.0180431 ],
       [ 1.02532046, -0.67182817,  2.15064923],
       [-0.97530483, -0.67182817, -0.69399915],
       [ 1.02532046, -1.42286752,  0.46075911],
       [ 1.02532046, -0.20242857,  1.22120966],
       [-0.97530483, -0.95346792,  1.30570417],
       [-0.97530483, -0.20242857, -0.80665849],
       [-0.97530483, -0.20242857,  0.01012174],
       [-0.97530483, -1.23510768, -1.22913102],
       [-0.97530483, -0.10854866, -0.69399915],
       [ 1.02532046, -1.04734784, -1.39812004],
       [ 1.02532046, -1.14122776, -1.3699552 ],
       [-0.97530483, -0.48406833, -1.06014201],
       [ 1.02532046, -0.95346792, -1.56710905],
       [-0.97530483, -0.48406833, -0.0180431 ],
       [-0.97530483, -0.39018841,  1.27753933],
       [ 1.02532046, -0.29630849, -0.80665849],
       [-0.97530483, -0.29630849, -0.32785629],
       [ 1.02532046, -0.48406833, -0.15886728],
       [-0.97530483, -1.51674743,  0.29177009],
       [-0.97530483, -0.29630849, -0.86298816],
       [ 1.02532046, -0.10854866,  0.01012174],
       [ 1.02532046, -0.76570809, -1.11647168],
       [ 1.02532046, -1.14122776,  0.34809976],
       [-0.97530483, -1.61062735, -1.28546069],
       [ 1.02532046, -0.67182817, -0.80665849],
       [ 1.02532046, -1.61062735, -0.04620793],
       [ 1.02532046, -0.76570809,  0.48892394],
       [ 1.02532046, -0.20242857, -0.80665849],
       [-0.97530483, -0.57794825,  0.20727559],
       [-0.97530483, -1.51674743, -1.00381234],
       [ 1.02532046, -0.95346792,  0.23544042],
       [ 1.02532046, -0.10854866, -1.39812004],
       [ 1.02532046, -0.10854866, -0.91931783],
       [ 1.02532046,  1.2057702 ,  0.06645141],
       [-0.97530483,  0.26697102,  1.75634154],
       [-0.97530483,  0.45473086, -0.0180431 ],
       [-0.97530483,  2.05068947,  0.82690197],
       [-0.97530483,  1.01801037, -0.69399915],
       [-0.97530483,  1.76904972,  1.6436822 ],
       [-0.97530483,  1.48740996,  1.19304483],
       [-0.97530483,  0.36085094,  1.98166022],
       [-0.97530483,  0.92413045, -1.39812004],
       [-0.97530483,  1.11189029,  0.68607779],
       [ 1.02532046,  1.48740996,  2.20697891],
       [-0.97530483,  2.14456939, -0.83482333],
       [ 1.02532046, -0.10854866, -0.38418596],
       [ 1.02532046,  1.01801037, -0.80665849],
       [-0.97530483,  2.23844931,  1.02405582],
       [ 1.02532046,  1.2057702 , -0.18703211],
       [ 1.02532046,  0.36085094,  0.17911075],
       [-0.97530483,  0.92413045,  0.68607779],
       [ 1.02532046,  2.14456939,  2.00982506],
       [-0.97530483,  0.45473086,  0.23544042],
       [ 1.02532046, -0.10854866,  0.54525361],
       [ 1.02532046,  0.07921118,  2.03798989],
       [ 1.02532046,  2.23844931,  0.8550668 ],
       [-0.97530483, -0.10854866, -0.32785629],
       [ 1.02532046,  0.07921118, -0.52501014],
       [-0.97530483, -0.01466874,  1.53102285],
       [ 1.02532046,  1.86292963,  1.7281767 ],
       [-0.97530483,  0.36085094,  0.01012174],
       [-0.97530483,  0.54861077,  0.23544042],
       [-0.97530483, -0.10854866,  2.1224844 ],
       [ 1.02532046,  0.26697102, -0.83482333],
       [ 1.02532046,  0.36085094,  0.99589098],
       [ 1.02532046,  1.2057702 ,  0.40442943],
       [-0.97530483,  0.1730911 ,  1.13671516],
       [ 1.02532046,  0.92413045,  0.20727559],
       [ 1.02532046,  0.36085094, -0.41235079],
       [-0.97530483,  0.07921118,  0.23544042],
       [-0.97530483,  0.92413045,  0.29177009],
       [-0.97530483,  1.58128988,  2.00982506],
       [ 1.02532046,  0.54861077,  2.17881407],
       [ 1.02532046,  0.1730911 , -0.35602112],
       [-0.97530483,  1.29965012,  0.46075911],
       [-0.97530483,  1.86292963,  0.91139647],
       [-0.97530483,  0.45473086,  0.01012174],
       [-0.97530483,  1.39353004,  2.09431956],
       [-0.97530483, -0.10854866, -0.60950464],
       [-0.97530483,  1.95680955,  1.41836351],
       [ 1.02532046,  0.45473086, -0.55317497],
       [-0.97530483, -0.10854866,  0.71424262],
       [-0.97530483,  0.73637061, -0.91931783],
       [ 1.02532046,  0.07921118, -0.55317497],
       [-0.97530483,  1.11189029,  1.75634154],
       [-0.97530483,  0.07921118,  2.09431956],
       [-0.97530483,  1.29965012, -0.77849366],
       [-0.97530483,  1.48740996,  0.51708878],
       [-0.97530483,  0.45473086,  0.01012174],
       [ 1.02532046,  0.36085094, -0.41235079],
       [-0.97530483,  2.05068947,  0.65791295],
       [-0.97530483,  0.83025053,  1.67184703],
       [-0.97530483, -0.10854866,  0.15094592],
       [ 1.02532046, -0.01466874,  2.03798989],
       [-0.97530483,  1.76904972,  1.50285802],
       [-0.97530483, -0.10854866,  0.01012174],
       [ 1.02532046,  1.11189029,  0.51708878],
       [-0.97530483,  0.54861077,  1.02405582],
       [-0.97530483,  1.01801037,  2.03798989],
       [-0.97530483,  2.14456939,  0.12278108],
       [ 1.02532046,  2.23844931, -0.83482333],
       [ 1.02532046,  0.26697102,  0.96772614],
       [-0.97530483,  1.95680955, -1.28546069],
       [ 1.02532046,  1.95680955,  0.06645141],
       [ 1.02532046,  1.2057702 ,  0.46075911],
       [-0.97530483,  1.48740996, -0.94748267],
       [-0.97530483,  1.29965012, -1.00381234],
       [-0.97530483,  2.14456939,  0.46075911],
       [ 1.02532046,  0.07921118, -0.04620793],
       [-0.97530483,  1.48740996, -1.42628487],
       [-0.97530483,  0.07921118,  0.60158328],
       [-0.97530483,  1.11189029,  1.86900088],
       [-0.97530483,  0.07921118,  0.17911075],
       [ 1.02532046,  0.26697102,  1.75634154],
       [ 1.02532046,  1.2057702 ,  0.48892394],
       [ 1.02532046,  1.76904972, -0.91931783],
       [ 1.02532046,  0.54861077,  0.03828657],
       [-0.97530483,  0.64249069,  1.13671516],
       [ 1.02532046,  0.92413045,  1.27753933],
       [-0.97530483,  2.05068947, -0.94748267],
       [ 1.02532046,  1.11189029,  0.06645141],
       [-0.97530483,  0.07921118,  1.84083604],
       [ 1.02532046,  0.07921118,  0.20727559],
       [-0.97530483,  1.01801037,  1.16487999],
       [ 1.02532046, -0.01466874,  1.50285802],
       [ 1.02532046,  0.26697102,  0.68607779],
       [-0.97530483,  1.2057702 ,  1.95349539],
       [-0.97530483,  0.26697102,  0.09461624],
       [-0.97530483,  1.6751698 ,  0.91139647],
       [ 1.02532046,  0.83025053, -1.11647168],
       [-0.97530483,  1.48740996,  1.86900088],
       [-0.97530483,  1.58128988,  0.29177009],
       [-0.97530483,  1.11189029, -1.17280135],
       [-0.97530483,  1.11189029,  1.67184703],
       [ 1.02532046, -0.01466874,  1.30570417],
       [-0.97530483,  1.01801037,  0.99589098],
       [-0.97530483,  1.11189029,  1.33386901],
       [ 1.02532046,  1.95680955, -0.32785629],
       [ 1.02532046,  2.05068947,  2.03798989],
       [ 1.02532046,  0.26697102,  1.41836351],
       [-0.97530483,  1.58128988,  0.91139647],
       [-0.97530483,  1.01801037, -0.58133981],
       [ 1.02532046,  1.01801037,  0.93956131],
       [ 1.02532046,  1.58128988,  0.01012174],
       [-0.97530483,  1.6751698 ,  1.02405582],
       [-0.97530483,  0.1730911 ,  1.16487999],
       [-0.97530483,  0.54861077,  0.51708878],
       [ 1.02532046, -0.01466874,  0.7705723 ],
       [ 1.02532046,  2.23844931, -1.06014201],
       [ 1.02532046,  1.6751698 , -0.04620793],
       [ 1.02532046,  0.36085094, -0.0180431 ],
       [ 1.02532046,  0.64249069,  1.61551736]])

In [56]:
X_test

array([[ 1.        , -0.51982647,  0.49135807],
       [ 1.        , -0.94708111,  0.45312009],
       [ 1.        , -0.51982647, -0.04397368],
       [-1.        , -0.09257184,  2.70916104],
       [ 1.        , -0.8046629 ,  0.33840614],
       [ 1.        , -1.23191753, -0.04397368],
       [ 1.        ,  0.61951922,  3.0150649 ],
       [-1.        , -0.94708111, -0.0057357 ],
       [ 1.        , -0.37740826,  0.64431   ],
       [ 1.        , -0.94708111,  0.56783404],
       [-1.        , -1.23191753, -0.19692561],
       [-1.        , -1.08949932,  0.03250228],
       [ 1.        ,  0.19226459,  0.64431   ],
       [-1.        , -0.51982647, -0.08221166],
       [ 1.        , -0.23499005, -0.31163955],
       [-1.        ,  1.04677386,  2.74739902],
       [-1.        , -0.8046629 , -0.46459148],
       [-1.        , -0.23499005,  0.30016816],
       [-1.        , -0.8046629 , -0.46459148],
       [-1.        , -0.66224469,  0.64431   ],
       [ 1.        , -1.23191753, -0.27340157],
       [ 1.        , -1.08949932, -0.08221166],
       [ 1.        , -0.37740826, -0.38811552],
       [-1.        , -0.37740826, -0.08221166],
       [ 1.        , -0.37740826,  0.37664412],
       [-1.        , -0.23499005,  0.49135807],
       [ 1.        , -0.8046629 , -0.4263535 ],
       [ 1.        , -0.23499005,  0.10897825],
       [ 1.        , -0.51982647,  0.10897825],
       [-1.        , -1.08949932, -0.31163955],
       [ 1.        , -1.23191753,  0.64431   ],
       [-1.        , -0.8046629 , -0.27340157],
       [ 1.        , -1.23191753,  0.49135807],
       [-1.        , -0.8046629 ,  0.10897825],
       [-1.        , -0.37740826,  0.03250228],
       [ 1.        , -0.66224469,  0.56783404],
       [ 1.        , -0.8046629 , -0.04397368],
       [ 1.        , -0.94708111,  0.49135807],
       [-1.        , -0.94708111, -0.19692561],
       [-1.        , -0.37740826,  0.37664412],
       [ 1.        , -0.23499005, -0.31163955],
       [-1.        ,  1.33161028, -1.0763992 ],
       [-1.        ,  0.47710101, -0.46459148],
       [-1.        , -0.23499005,  0.64431   ],
       [ 1.        , -0.23499005,  1.60025956],
       [-1.        ,  2.18611955, -1.26758911],
       [-1.        ,  2.04370134, -0.57930543],
       [ 1.        ,  0.3346828 ,  0.98845184],
       [ 1.        , -0.8046629 ,  0.33840614],
       [-1.        ,  1.47402849, -1.38230306],
       [-1.        ,  2.32853777, -0.61754341],
       [ 1.        ,  2.32853777,  0.79726193],
       [-1.        , -0.66224469,  0.41488211],
       [ 1.        ,  2.18611955,  2.59444709],
       [-1.        , -0.94708111,  0.68254798],
       [-1.        ,  0.3346828 , -1.15287516],
       [-1.        ,  0.3346828 ,  0.45312009],
       [-1.        , -0.23499005, -0.34987754],
       [ 1.        , -0.37740826,  0.95021386],
       [-1.        ,  2.04370134, -1.497017  ],
       [ 1.        , -0.23499005,  0.07074027],
       [ 1.        ,  0.61951922, -1.11463718],
       [-1.        ,  0.04984637,  2.93858893],
       [ 1.        ,  0.76193743, -1.30582709],
       [-1.        ,  1.90128313, -1.11463718],
       [ 1.        ,  1.75886492, -0.08221166],
       [-1.        ,  0.76193743, -0.88520929],
       [ 1.        , -0.66224469,  0.33840614],
       [ 1.        ,  0.47710101, -1.0763992 ],
       [-1.        ,  0.61951922, -1.03816122],
       [ 1.        ,  0.61951922, -1.11463718],
       [ 1.        ,  0.47710101, -1.497017  ],
       [-1.        ,  0.19226459, -0.65578139],
       [ 1.        ,  2.32853777, -0.77049534],
       [-1.        , -0.66224469, -0.12044964],
       [-1.        ,  0.3346828 , -0.80873332],
       [ 1.        ,  1.04677386, -1.497017  ],
       [-1.        ,  0.90435565, -1.61173095],
       [ 1.        , -1.08949932, -1.11463718],
       [-1.        ,  0.76193743, -0.99992323]])

## Model Selection

In [88]:
log = LogisticRegression()
knn = KNeighborsClassifier(n_neighbors=5)

## Trainig the Model

In [89]:
print(log.fit(X_train, y_train))
knn.fit(X_train, y_train)

LogisticRegression()

KNeighborsClassifier()

## Testing the model

In [107]:
y_log_pred = log.predict(X_test)

In [108]:
y_log_pred

array([0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], dtype=int64)

In [90]:
y_knn_pred = knn.predict(X_test)

In [91]:
newdf = pd.DataFrame({"Actual":y_test, "Predicted": y_knn_pred})

In [92]:
newdf.head()

     Actual  Predicted
266       0          0
267       0          0
269       0          0
270       0          1
276       0          0

In [93]:
confusion_matrix(y_test, y_knn_pred)

array([[46,  5],
       [ 7, 22]], dtype=int64)

In [94]:
Accuracy = (46+22)/(46+7+5+22)
Accuracy

0.85

In [85]:
from sklearn.metrics import accuracy_score

In [109]:
accuracy_score(y_test, y_log_pred)

0.725

## Hyperparameter tuning

In [102]:
lis = [i for i in range (3,100) if i % 2 != 0]
# lis = [i for i in range (2,101) if i % 2 == 0]
acc = [ ]
dic = { }
for i in lis:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    y_knn_pred = knn.predict(X_test)
    acc.append(accuracy_score(y_test, y_knn_pred))
    dic [i] = accuracy_score(y_test, y_knn_pred)

print(max(acc))

# for odd number = 11, 0.8875
# for even numbers = 10, 0.875

0.8875

In [103]:
dic

{3: 0.8375,
 5: 0.85,
 7: 0.85,
 9: 0.8625,
 11: 0.8875,
 13: 0.8875,
 15: 0.875,
 17: 0.85,
 19: 0.8,
 21: 0.7875,
 23: 0.775,
 25: 0.7625,
 27: 0.7375,
 29: 0.7375,
 31: 0.7375,
 33: 0.7375,
 35: 0.7375,
 37: 0.7375,
 39: 0.7375,
 41: 0.7375,
 43: 0.7375,
 45: 0.7375,
 47: 0.7375,
 49: 0.7375,
 51: 0.7375,
 53: 0.7375,
 55: 0.7375,
 57: 0.7375,
 59: 0.7375,
 61: 0.7375,
 63: 0.725,
 65: 0.725,
 67: 0.725,
 69: 0.725,
 71: 0.725,
 73: 0.725,
 75: 0.725,
 77: 0.725,
 79: 0.725,
 81: 0.725,
 83: 0.725,
 85: 0.725,
 87: 0.725,
 89: 0.7125,
 91: 0.7,
 93: 0.7,
 95: 0.7,
 97: 0.6875,
 99: 0.6875}